<div class="cv-widget" data-type="winnersbadge" data-eid="719434" data-bid="62371" data-year="2014" data-rank="1">
  <img src="http://vp.cdn.cityvoterinc.com/wclientimg/97.png" class="cv-clogo" alt="Bay Area A-List logo" />
  <a href="http://sf.cityvoter.com/wbiz/62371" target="_top" class="cv-wlink">
    <span>BEST Eyewear</span>
  </a></div>
  <!--
Place this script somewhere after the tag above. If you have
multiple badges, only include the script once. -->
<script type='text/javascript'>
(function(){
window.___cityvoter = {
 basePath: ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.cityvoterinc.com/s'
};
var s = document.createElement('script');
s.type = 'text/javascript';
s.src = window.___cityvoter.basePath + '/widget.js';
s.async = true;
var ph = document.getElementsByTagName('script')[0];
ph.parentNode.insertBefore(s, ph);
})();
</script>

<div class="cv-widget" data-type="winnersbadge" data-eid="564745" data-bid="62371" data-year="2013" data-rank="1">
    <img src="http://vp.cdn.cityvoterinc.com/wclientimg/97.png" class="cv-clogo" alt="Bay Area A-List logo" />
    <a href="http://sf.cityvoter.com/wbiz/62371" target="_top" class="cv-wlink">
        <span>BEST Eyewear</span>

    </a>
</div>

<!-- Place this script somewhere after the tag above. If you have multiple badges, only include the script once. -->
<script type='text/javascript'>
(function() {
window.___cityvoter = { basePath: ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.cityvoterinc.com/s' };
var s = document.createElement('script');
s.type = 'text/javascript';
s.src = window.___cityvoter.basePath +  '/widget.js';
s.async = true;
var ph = document.getElementsByTagName('script')[0];
ph.parentNode.insertBefore(s, ph);
})();
</script>
