<!DOCTYPE html>
<html>

  {% include head.html %}
  <body id="main">

    <div class="container">
      <div class="panel panel-default ei-panel">
      <div class="panel-header">
        {% include header.html %}
      </div>

      <div class="panel-body">
        <p class="lead">
          {{ page.lead }}
        </p>

        <div class="row big-gutter">
          <div class="col-md-5">

        {{ content }}

      </div>
      <div class="col-md-7">
        <img class="img-responsive" src="{{ page.image }}">
      </div>
    </div>

      </div>
      </div>
    </div>
    {% include bootstrapjs.html %}
  </body>

</html>
